﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Ryan Alger's Assignment 5!</p>
<p>The time on the server is:</p>
    <ul><p>@DateTime.Now.ToString("HH:mm:ss tt, MM/dd/yyyy")</p></ul>   

