﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    600 W College Ave, <br>
    Tallahassee, FL 32306<br>
    <abbr title="Phone">P:</abbr>
    850.644.2525
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rja16b@my.fsu.edu">rja16b@my.fsu.edu</a>
</address>

<h6>Ryan Alger's Assignment 5!</h6>
<h6>The time on the server is @DateTime.Now.ToString("HH:mm:ss tt, MM/dd/yyyy")</h6>
