﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000"> <!-- Set from 6 sec to 2 sec -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li> <!-- Removed a carousel button -->
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox"> <!-- Replaced carousel images and modified text -->
        <div class="item active">
            <a href="https://bitbucket.org/ryanalger/">
                <img src="~/images/banner0.png" alt="My Bitbucket" class="img-responsive"> 
            </a>
            <div class="carousel-caption" role="option">
                <h1>
                    View my Bitbucket Repositories!
                </h1>
            </div>
        </div>
        <div class="item">
            <a href="https://www.linkedin.com/in/ryanalger/">   <!-- Added hyperlink to images -->
                <img src="~/images/banner1.png" alt="My Linkedin" class="img-responsive">
            </a>
            <div class="carousel-caption" role="option">
                <h1>
                    View my Linkedin Profile!
                </h1>
            </div>
        </div>
        <div class="item">
            <a href="Contact/">
                <img src="~/images/banner2.png" alt="My Linkedin" class="img-responsive">
            </a>
            <div class="carousel-caption" role="option">
                <h1>
                    Contact Me!
                </h1>
            </div>
        </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>My Tech Skills:</h2>
        <ul>
            <li>HTML, CSS</li>
            <li>Java, C#, C++</li>
            <li>JavaScript, PHP</li>
            <li>SQL</li>
            <li>Native Android App Development</li>
                <ul>
                    <li>Using Android Studio</li>
                </ul>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Dev Course Work:</h2>
        <ul>
            <li><i>LIS4386 -</i> Advanced Web Applications Development</li>
            <li><i>LIS4381 -</i> Mobile Applications Development</li>
            <li><i>LIS3781 -</i> Advanced DB Management</li>
            <li><i>LIS4369 -</i> Extensible Enterprise Solutions</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Past Employment:</h2>
        <ul>
            <li><u>Intel Coporation:</u> <br> &nbsp;&nbsp;Chandler, AZ</li>
            <li><u>Overland Contracting:</u> <br> &nbsp;&nbsp;Fort Lauderdale, FL</li>
            <li><u>Zachry Industrial Inc:</u> <br> &nbsp;&nbsp;Fort Lauderdale, FL</li>
            <li><u>Main Branch Tree Service:</u> <br> &nbsp;&nbsp;Margate, FL</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>IT Wisdom:</h2>
        <ul>
            <li>Never wait to the last minute to start an IT project.</li>
            <li>Copy and paste is <i>not always</i> your friend.</li>
            <li>In SQL, <strong>always</strong> include a where clause in an update or delete statement.</li>
        </ul>
    </div>
    
</div>

<h6>Ryan Alger's Assignment 5!</h6>
<h6>The time on the server is @DateTime.Now.ToString("HH:mm:ss tt, MM/dd/yyyy")</h6>
